---
layout: page
title: Contact
permalink: /contact/
---

<div class="img-fluid" style="height: 100%; position: relative; text-align: center;">
  <img class="pad-bottom" src="{{ site.url }}/assets/images/pogo.jpg" alt="{{ page.title }}" style="z-index: 0; height: 500px; width: 100%; display: block; padding-top: 5px;">
  <h1 class="white-text header drop-shadow" style="position: absolute; top: 8px; left: 16px;"> {{ page.title }}</h1>
</div>

<div class="container pad-bottom">
  <div class="row flex-row-reverse">
    <div class="col-md-6 order-sm-first pad-left">
      <h1 class="header drop-shadow">Rejoignez nous!</h1>
      <p>
        Texte...
      </p>
    </div>
    <div class="col-md-6 order-sm-last">
      <h1 class="header drop-shadow">Comment nous contacter?</h1>
      <p>
        Texte...
      </p>
    </div>
  </div>
  <div class="row flex-row-reverse">
    <div class="col-md-12">
      <h1 class="header drop-shadow">Comment devenir nos partenaires?</h1>
      <p>
        Texte...
      </p>    
    </div>
  </div>
</div>