---
layout: page
title: Projets
permalink: /nos_projets/
---

<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-6 offset-sm-3 text-center">
      <h1 class="drop-shadow">{{page.title}}</h1>
    </div>
  </div>
  <div class="row">
  {% for project in site.categories.Projects %}  
    <div class="col-md-6 col-sm-12">
      <div class="card-image" style="background-image: url({{site.url}}/assets/images/{{project.image}});">
        <div class="project-text text-center pad-left pad-rightr">
            <h5 class="project-tag"> {{ project.tag-icon }} {{ project.tag }}</h5>
            <h3 class="card-title white-text"> {{ project.title }}</h3>
            <p class="project-excerpt">{{ project.excerpt | truncate:165, "...</p>" }}
            <a class="btn btn-brand drop-shadow" href="{{ project.url }}" role="button"><i class="fa fa-folder-open" aria-hidden="true"></i> Lire plus</a>
        </div>
      </div>
    </div>
  {% endfor %}  
  </div>
</div>
