---
layout: page
title: Qui Sommes-nous?
permalink: /Qui_sommes_nous/
---

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">   
        <div class="img-fluid" style="height: 100%; position: relative; text-align: center;">
          <img class="pad-bottom" src="{{ site.url }}/assets/images/pogo.jpg" alt="{{ page.title }}" style="z-index: 0; width: 100%; display: block; padding-top: 50px;">
        </div>
      </div>
      <div class="col-sm-6">
          <h1 class="header drop-shadow">Qui Sommes-Nous?</h1>
          <p>
            Texte...
          </p>
          
        </div>  
    </div>
  </div>
