/**
 * Site header
 */
.nav, .navbar {
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;
    -webkit-box-shadow: 0px 10px 17px 8px rgba(245,245,245,1);
    -moz-box-shadow: 0px 10px 17px 8px rgba(245,245,245,1);
    box-shadow: 0px 10px 17px 8px rgba(245,245,245,1);
    position: relative;
    min-height: $spacing-unit * 1.865;

}

.fa-bars {
    color: $brand-color;
}


/**
 * Site footer
 */
.footer {
    margin-top: $spacing-unit;
    background-color: $brand-color-dark;
    color: $background-color;
}

.bottom-footer {
    background-color: darken($brand-color-dark, 10%);
}

.footer-title {
    margin-top: 20px;
}

.footer-link {
    list-style: none;
    margin-left: 0;

    a {
        color: $background-color;
    }
    a:hover {
        color: $brand-color;
        text-decoration: none;
    }
}

.footer-logo {
    margin-top: 40px;
}



/**
 * Page content
 */
.title {
   color: $brand-color;
}

.content-start {
    margin-top: $spacing-unit * 2;
}

.social-media {
    display:inline-block;
    margin-left: 10px;
}

.social-link {
    list-style: none;
    margin-left: 0px;
}

.brandcolor-bg {
    background-color: $brand-color;
    margin-top: $spacing-unit * 3;
    padding-bottom: $spacing-unit;
    margin-bottom: $spacing-unit * 2;
}

.btn-brand {
    color: $background-color !important;
    background-color: $brand-color;
    border-color: darken($brand-color, 10%);
    margin-bottom: $padding-unit;
    a {
        color: $background-color;
    }

    &:hover {
        background-color: darken($brand-color, 10%);
        text-decoration: none;
    }
    &:focus {
        color: $background-color;
    }

}

.btn-brand-white {
    color: $background-color !important;
    background-color: $brand-color-white;
    border-color: darken($brand-color-white, 10%);
    margin-bottom: $padding-unit;
    
    a {
        color: $background-color;
    }

    &:hover {
        background-color: darken($brand-color-white, 10%);
        text-decoration: none;
    }
    &:focus {
        color: $background-color;
    }

}

.progress-bar {
    background-color: darken($brand-color, 10%);
}


/**
* Projects
*/
.card-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 2275px;
    max-height: 1516px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    margin-bottom: $padding-unit * 1.2;
    margin-top: $padding-unit * 1.2;
}

.project-tag {
    color: $brand-color;
    padding-top: $padding-unit;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

.project-icon {
    color: $brand-color;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

.project-text {
    color: $background-color;
    background-color: $pic-overlay;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}


/**
 * Posts
 */

.recent-posts {
    margin-bottom: $spacing-unit;
    img:hover {
        opacity:0.9 !important;
    }

}

.post-header {
    z-index: 3 !important;
    margin-top: -4rem;
    border-radius: 4px;
    padding-top: $padding-unit;
    margin-left: -2%;
    margin-right: -2%;
    background:  $background-color;
    position: relative;
    margin-bottom: $spacing-unit * 2;

    .fa {
        color: $brand-color;
    }
}

@media (min-width: 768px) {
    .narrow {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15%;
        padding-right: 15%;
    }
}
