---
layout: default
---

<!-- Profile Area -->
<div class="img-fluid" style="height: 100%; position: relative; text-align: center;">
  <img class="pad-bottom" src="{{ site.url }}/assets/images/pogo.jpg" alt="{{ page.title }}" style="z-index: 0; height: 500px; width: 100%; display: block; padding-top: 5px;">
  <h1 class="white-text header drop-shadow" style="position: absolute; top: 8px; left: 16px;"> {{ site.title }}</h1>
</div>

<!-- Projects Area -->
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 text-center">
        <h1 class="brand-text"> <a class="nav-link" href="{{ site.url }}/nos_projets/"> 
            Nos Projets
        </a></h1>
      </div>
    </div>
      <div class="row">
        {% for project in site.categories.Projects limit: 3%}  
        <div class="col-md-4 col-sm-12">
            <div class="card-image" style="background-image: url({{site.url}}/assets/images/{{project.image}});">
              <div class="project-text text-center pad-left pad-right">
                  <h5 class="project-tag"> {{ project.tag-icon }} {{ project.tag }}</h5>
                  <h3 class="card-title white-text"> {{ project.title }}</h3>
                  <p class="project-excerpt">{{ project.excerpt | truncate:165 }}</p>
                  <a class="btn btn-brand drop-shadow" href="{{ project.url }}" role="button"><i class="fa fa-folder-open" aria-hidden="true"></i> Lire plus</a>
              </div>
            </div>
        </div>
        {% endfor %}  
    </div>
  </div>
</div>


<!-- Blog Posts Area -->
<div class="container-fluid brandcolor-bg">
  <div class="container-fluid">
    <div class="row header drop-shadow">
      <div class="col-sm-6 offset-sm-3 text-center">
        <h1 class="header white-text drop-shadow"> 
          <a href="{{ site.url }}/blog/">
            Notre Blog Nautique
          </a>
        </h1>
      </div>
    </div>    
    <div class="row">
      {% assign post_counter = 0 %}
      {% for post in site.posts %}
        <!-- Updates category icon -->
        {% if post.url contains site.category_one %}
          {% assign category_icon=site.category_one_icon %}
        {% elsif post.url contains site.category_two %}
          {% assign category_icon = site.category_two_icon %}
        {% elsif post.url contains site.category_three %}
          {% assign category_icon = site.category_three_icon %}
        {% elsif post.url contains site.category_four %}
          {% assign category_icon = site.category_four_icon %}
        {% else %}
          {% assign category_icon=site.default_icon %}
        {% endif %}
        <!-- Skips over projects, adds only the first 3 recent posts -->
        {% if post_counter >= 3 %}
          {% break %}
        {% elsif post.url contains 'projects' %}
        {% else %}
          {% assign post_counter = post_counter | plus: 1 %}
          <div class="col-md-4 col-sm-12 text-center recent-posts">
            <a href="{{post.url}}"><img class="img-fluid" src="{{site.url}}/assets/images/{{post.image}}" alt={{post.title | escape}}></a>
            <h6 class="spaced">{{ category_icon }} {{ post.categories }} </h6>
            <h2 class="dark-text"> {{ post.title }} </h2>
            <p>{{ post.excerpt | truncate:165}}</p>
            <a class="btn btn-brand-white drop-shadow" href="{{ post.url }}" role="button">
              <i class="fa fa-folder-open" aria-hidden="true"></i> Lire plus
            </a>  
          </div>
        {% endif %}
      {% endfor %}
      </div>      
  </div>
</div>

<!-- Sponsor Area -->
<div class="container-fluid">
  <div class="col-sm-6 offset-sm-3 text-center">
    <h1 class="brand-text">Nos Partenaires</h1> 
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-6 text-center"> 
      <a href="https://www.imt-atlantique.fr/" target="_blank">
        <img alt="IMT-Atlantique" src="{{site.url}}/assets/images/IMT-Atlantique-logo-CMJN-Baseline.svg">
      </a>
    </div>
    <div class="col-sm-6 col-xs-6 text-center"> 
        <a href="https://www.orness.com/" target="_blank">
          <img alt="Orness" src="{{site.url}}/assets/images/og_image.jpeg">
        </a> 
    </div>
  </div>
</div> 
